* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body {
  height: 100%;
}

body > * {
  margin-top: 1.5em;
}

body {
  background-color: #211151;
  color: #FF958C;
  text-align: center;

  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#board {
  position: relative;
  background-color: #883677;
  box-sizing: content-box;
  border: 10px solid black;
}

.arena-square {
  border: 1px solid black;
  display: block;
  position: absolute;
}

#player {
  display: block;
  position: absolute;
  user-select: none;
}

footer {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

button, #paused {
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  
  background: #883677;

  color: inherit;
  font-size: 1.5rem;
  text-align: center;
  
  box-shadow: 2px 2px 2px 1px rgb(0 0 255 / 20%)
}

#play, #paused, #pause {
  opacity: 0.9;
}

#play:hover, #pause:hover {
  opacity: 1;
}

#paused {
  display: none;
  position: absolute;
  top: 25%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);

  background: #211151;
}
